
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

li{
display: inline-block;
text-align: left;
padding-left: 10px;
padding-right: 20px;
}



  #kesz{
    height: 50%;
    width: 50%;
    margin-left: 10%;
  }

  #kosar{
    height: 20%;
    width: 20%;
  }

  h1{
    
    text-align: center;
  }

p{
  
  margin-left: 23%;
  margin-right: 25%;
}

#b{
width: 50%;
margin-left: 20%;
}
#elerhetes{
  font-size: 150%;
  margin-top: -6%;
  margin-bottom: -1%;
}

#hirlevél{
  
  font-size: 150%;
  
}

#mert{
  font-size: 150%;
}

#ird{
  text-align: center;
}

#valasz{
  font-size: 150%;
  text-align: left;
  margin-top: -3%; 
  
  
}

#box{
  border-radius: 10%;
  font-size: 150%;
  margin-top: 3%;
  text-align: center;
}

#image{
margin-left: 55%;

width: 20%;
margin-top: -20%;
}

#f{
  size: 150%;
}

#g{
  size: 150%;
  margin-top: 0; 
}

#rend{
  margin-left: 20%;
  margin-top: -50%;
}

#e-mail{
  margin-left: 19.5%;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 69%;
  margin-bottom: 1%;
}

#div{
  padding-left: 30%;
}

#keret{
  border: 3px solid black;
  border-radius: 20px;
  
}

#kepek{
  width: 50%;
}
