
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li{
display: inline-block;
text-align: left;
padding-left: 10px;
padding-right: 20px;
}

body {
    background-color: #000000;
    overflow: hidden;
  }
  
  .galaxy {
    width: 100%;
    height: 100%;
    background: url('galaxis.jpg');
    animation: galaxyAnimation 60s linear infinite;
  }
  
  @keyframes galaxyAnimation {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -2000px -2000px;
    }
  }

  #kesz{
    height: 50%;
    width: 50%;
    margin-left: 10%;
  }

  #kosar{
    height: 20%;
    width: 20%;
  }

  h1{
    color: white;
    margin-left: 38%;
  }

p{
  color: white;
  margin-left: 23%;
  margin-right: 25%;
}

#b{
width: 50%;
margin-left: 20%;
}
#elerhetes{
  font-size: 150%;
  margin-top: -2.6%;
}

#hirlevél{
  text-align: center;
  font-size: 150%;
  
}

#mert{
  font-size: 150%;
}

#ird{
  text-align: center;
}

#valasz{
  font-size: 150%;
  text-align: left;
  margin-top: -3%; 
  
  
}

#box{
  font-size: 150%;
  margin: 0%;
  text-align: center;
}

#image{
padding-left: 60%;
height: 10%;
width: 20%;

}

#f{
  size: 150%;
}

#g{
  size: 150%;
  margin-top: 0; 
}

#rend{
  margin-left: 20%;
  margin-top: -50%;
}